.message-input{
    display: flex;
    margin: 10px;
    height: 70px;
    background-color: rgb(245, 223, 194);
    justify-content: center;
    align-items: center;
}

.message-input input{
    height: 40px;
    width: 500px;
}

.message-input button{
    height: 46px;
    width: 70px;
}