.message,
.own-message{
    margin-left: 16%;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    max-width: 600px;
    height: auto;
    grid-template-columns: 30px 30px 25px 1fr 25px 20px;
    grid-template-rows: 10px 25px 1fr 25px 25px;
}

.own-message{
    margin-left: 32%;
    max-width: 450px;
    grid-template-columns: 30px 25px 1fr 35px  50px 50px  25px 20px;
    grid-template-rows: 10px 25px 1fr 25px 25px;
}

.message-user-avatar{
    grid-column: 1/3;
    grid-row: 4/6;
    margin-right: 5px;
}

.message-user-avatar img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 105;
}
.message-text{
    grid-column: 4/7;
    grid-row: 3/5;
    z-index: 105;
}

.own-message .message-text{
    grid-column: 3/7;
    text-align: right;
    font-size: 16px;
}

.message-time,
.own-message{
    grid-column: 4/5;
    grid-row: 5/5;
    z-index: 105;
    font-size: 12px;
}

.own-message .message-time{
    text-align: right;
    grid-column: 6/6;
}

.message-like,
.message-liked {
    grid-column: 5/5;
    grid-row: 4/5;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    background: rgb(0, 0, 0, 0.0);
    font: 1em verdana, sans-serif;
    border: 0;
    z-index: 106;
}

.message-like{
    font-size: 20px;
}

.message-liked{
    color: rgb(230, 101, 26);
    font-size: 27px;
}

.message-user-name{
    grid-column: 4/5;
    grid-row: 2/3;
    z-index: 105;
    font-weight: bold;
    font-size: 14px;
}

.message-background{
    background-color: rgb(247, 242, 239);
    border-radius: 40px 10px;
    grid-column: 3/6;
    grid-row: 1/5;
    z-index: 100;
}

.own-message .message-background{
    background-color: rgb(223, 221, 221);
    border-radius: 10px 40px;
    grid-column: 2/8;
}

.message-edit{
    grid-column: 4/5;
}
.message-delete{
    grid-column: 5/6;
}

.message-edit, 
.message-delete{
    grid-row: 5/6;
    height: 20px;
    background: rgb(0, 0, 0, 0.0);
    border: none;
}

.own-message button:hover{
    background-color: rgb(223, 221, 221);
}

